:root {
  --maroon: #76090c;
  --green: #0a4424;
  --yellow: #f5ab29;
}
body {
  background-color: #f0f0f0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
#header {
  align-items: center;
  background-color: var(--maroon);
  display: flex;
  height: 100px;
  justify-content: center;
}
#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
h1 {
  padding: 0 10px;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
form {
  min-width: 200px;
  width: 800px;
}
input[type="text"] {
  width: calc(100% - 70px);
}
input[type="submit"] {
  float: right;
}
nav {
  display: flex;
}
nav img {
  width: 42px;
  height: 42px;
}
nav img[alt="Account"] {
  padding-left: 10px;
}
nav a {
  text-decoration: none;
}
#featured {
  max-width: 1200px;
  max-height: 410px;
  margin: 20px auto;
}
#featured img {
  width: 100%;
  height: 410px;
  object-fit: cover;
  object-position: 0 25%;
}
#categories {
  margin: 0 auto;
  max-width: 1200px;
  background-color: var(--green);
}
#categories h2 {
  margin: 0;
  padding: 10px;
}
#categories table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
#categories table td {
  padding: 5px;
  text-align: center;
  border: 2px solid #fff;
}
#categories table td img {
  width: 100%;
  object-fit: cover;
  object-position: 0 25%;
}
#categories table td a {
  text-decoration: none;
  color: #fff;
}
#products {
  margin: 20px auto;
  max-width: 1200px;
  background-color: var(--yellow);
  color: #000;
}
#products h2 {
  margin: 0;
  padding: 10px;
}
#products table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
#products table td {
  padding: 10px;
  border: 5px solid #fff;
}
#products table td img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 25%;
}
#products table td a {
  color: #000;
  line-height: normal;
  text-decoration: none;
}
#footer {
  align-items: center;
  background-color: var(--maroon);
  display: flex;
  height: 100px;
  justify-content: center;
}
