:root {
  --maroon: #76090c;
  --green: #0a4424;
  --yellow: #f5ab29;
}
body {
  background-color: #f0f0f0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
#header {
  align-items: center;
  background-color: var(--maroon);
  display: flex;
  height: 100px;
  justify-content: center;
}
#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
h1 {
  padding: 0 10px;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
form {
  min-width: 200px;
  width: 800px;
}
input[type="text"] {
  width: calc(100% - 70px);
}
input[type="submit"] {
  float: right;
}
nav {
  display: flex;
}
nav img {
  width: 42px;
  height: 42px;
}
nav img[alt="Account"] {
  padding-left: 10px;
}
nav a {
  text-decoration: none;
}
#container {
  max-width: 1200px;
  margin: 300px auto;
  background-color: #0a4424;
}
#footer {
  align-items: center;
  background-color: var(--maroon);
  display: flex;
  height: 100px;
  justify-content: center;
}
